@font-face {
    font-family: "yeseva one" ;
    src: url(Fonts/Yeseva_One/YesevaOne-Regular.ttf);
}

@font-face {
    font-family: "Glass Antiqua";
    src: url(Fonts/Glass_Antiqua/GlassAntiqua-Regular.ttf);
}

header {
    display: flex ;
    background-color: blue;
    justify-content: flex-start;
}

body {
    background-color: #def3ff;
    margin: 0;
}


h1 {
    font-family: yeseva one;
    font-size: 60px;
}

p {
    font-family: Glass Antiqua;
    font-size: 20px;
}

h2 {
    font-family: Glass Antiqua;
    font-size: 2em;
}

nav {
    font-family: Glass Antiqua;
    font-size: 25px;
}
